In [35]:
import pandas as pd

In [36]:
# Load json file
json_file_path = '../raw/Sheger Press️️.json'

# Read json file
df = pd.read_json(json_file_path)
df.head()

,name,type,id,messages
0,Sheger Press️️,public_channel,1770199174,"{'id': 1, 'type': 'service', 'date': '2021-12-..."
1,Sheger Press️️,public_channel,1770199174,"{'id': 3, 'type': 'message', 'date': '2021-12-..."
2,Sheger Press️️,public_channel,1770199174,"{'id': 14, 'type': 'message', 'date': '2022-05..."
3,Sheger Press️️,public_channel,1770199174,"{'id': 15, 'type': 'message', 'date': '2022-05..."
4,Sheger Press️️,public_channel,1770199174,"{'id': 16, 'type': 'message', 'date': '2022-05..."

In [37]:
df.shape

(3964, 4)

In [38]:
# Create new data frame
columns = ["id", "channel_name", "type", "message_id", "message_type","text", "label", "created_at", "updated_at", ]
new_df = pd.DataFrame(columns=columns)
new_df

Empty DataFrame
Columns: [id, channel_name, type, message_id, message_type, text, label, created_at, updated_at]
Index: []

In [67]:
# Extract common values for all message
telegeram_channel_id  = df["id"][0]
telegram_channel_name = df["name"][0]
telegeram_channel_type = df["type"][0]

In [68]:
# Extract the Message for each post
message_df = df["messages"]
data = [{
       'telegeram_channel_id': telegeram_channel_id,
       'telegram_channel_name': telegram_channel_name,
       'telegeram_channel_type': telegeram_channel_type,
       'message_id': message.get('id', None),
        'message_type': message.get('type', None),
        'text': message['text_entities'][0]['text'] if message.get('text_entities') and message['text_entities'] else None,
        'created_at': message.get('date', None),
        'update_at': message.get('edited', None),
        }for message in message_df]
message_df = pd.DataFrame(data)
message_df = message_df.sort_values(by='message_id')
message_df.head()

,telegeram_channel_id,telegram_channel_name,telegeram_channel_type,message_id,message_type,text,created_at,update_at
1,1770199174,Sheger Press️️,public_channel,3,message,አንድ ላይ ተጋግዘን ትልቅ መወያያ መድረክ እንፍጠር ስለምታደርጉልኝ ድጋፍ...,2021-12-30T22:02:03,2023-05-01T18:34:46
2,1770199174,Sheger Press️️,public_channel,14,message,መረጃ❗️❗️❗️\n\nየህወሃት ጦር ከመቀሌ ወደ አፋር አብዓላ የሚወስደውን...,2022-05-03T14:31:44,2022-05-03T14:31:53
3,1770199174,Sheger Press️️,public_channel,15,message,አዲስ መረጃ የጠ/ሩ የምሳ ግብዣ እንዴት አለፈ⁉️\n\nብፁዑ ወቅዱስ አቡ...,2022-05-03T15:25:59,2022-05-03T15:29:15
4,1770199174,Sheger Press️️,public_channel,16,message,ልዩ መረጃ‼️\n\n# የኦሮሚያ ልዩ ኃይል እና ሸኔ በምዕራብ ሸዋ በአማሮ...,2022-05-03T15:44:43,None
5,1770199174,Sheger Press️️,public_channel,17,message,NEWSALERT‼️\n\nከቀናት በፊት ደሴ ላይ ቤተከርስቲያን አፍርሰን መ...,2022-05-03T17:07:43,2022-05-03T17:09:57